@{
    ViewData["Title"] = "Books";
}

<h2>Online Library Management System</h2>

<br />
<br />
<p>
    
<p><img src="~/pexels-stanislav-kondratiev-2908984.jpg" height="700px" width="1200px" /></p>
</p>
<p><h3>This platform is an online library management sytem.</h3><br />
    <h3>Registered Admin have full management access to all the books available in this site.</h3></p>