@{
    ViewData["Title"] = "Books";
}

<h2>WELCOME TO ONLINE LIBRARY MANAGEMENT SYSTEM</h2>
<br />
<br />

 <p> Please Register yourself or Login as admin to manage the library.</p>
 <img src="/pexels-kelly-2881370.jpg" height="700px" width="1200px"/>